<ul id="side-menu" class="vertical menu" data-smooth-scroll>
  <li>
    <a class="section" href="#basic-concepts">Basic concepts</a>
    <ul class="nested vertical menu">
      {% assign basic_sections = site.basic_concepts | sort: "order" | where: "lang", page.lang %}
      {% for doc in basic_sections %}
      <li>
        <a class="sub-section" href="#{{ doc.title | slugify }}">{{ doc.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a class="section" href="#advanced-concepts">Advanced concepts</a>
    <ul class="nested vertical menu">
      {% assign advanced_sections = site.advanced_concepts | sort: "order" | where: "lang", page.lang %}
      {% for doc in advanced_sections %}
      <li>
        <a class="sub-section" href="#{{ doc.title | slugify }}">{{ doc.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
