<nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="{{ page.index.url }}">{{ site.title }} (WIP)</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="https://github.com/{{ site.repository }}">Github</a>
      </li>
      <li>
        <a href="https://github.com/{{ site.repository }}/issues">
          Report an issue
        </a>
      </li>
    </ul>
  </div>
</nav>
