---
---
// Foundation
// override glogals - must be imported prior to the default settings
@import 'foundation/foundation_globals';
// default foundation settings
@import 'foundation/foundation_settings';
// override default settings
@import 'foundation/foundation_overrides';
// import foundation
@import 'foundation/foundation_imports';

@import 'rouge_github_theme';

$padding-top: 25px;

#body-container {
  padding-top: $padding-top;
}

.side-nav-container {
  #side-menu {
    height: 100%;
    position: fixed;
    overflow: scroll;

    margin-left: 0px;
    padding-left: 15px;

    .section {
      font-weight: bold;
      color: lighten($black, 30%);

      &:hover {
        color: $black;
      }
    }

    .sub-section {
      color: $dark-gray;

      &:hover {
        color: darken($dark-gray, 30%);
      }
    }
  }
}

summary {
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
  }
}

.primary-wrapper, .secondary-wrapper {
  @include xy-grid;

  .details-content {
    @include xy-grid;
    @include xy-cell;
  }

  .section-head {
    @include xy-cell;
  }

  .section-description, div.highlighter-rouge {
    @include xy-cell(6);
  }
}

